@font-face {
  font-family: ubuntu-title;
  src: url('../src/fonts/Ubuntu-Title.ttf')
}

@font-face {
  font-family: rubik-med;
  src: url('../src/fonts/Rubik-Medium.ttf')
}

@font-face {
  font-family: rubik-lt;
  src: url('../src/fonts/Rubik-Light.ttf')
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: url(../src/images/beach.jfif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background-color: white;
  padding: 0;
  height: 100%;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
.header {
  padding-top: 1%;
  text-align: center;
  background-color: #f37B7B;
  color: white;
  padding-bottom: 1px;
  margin-bottom: 2px;
}

.header h1{
  font-family: 'rubik-med', Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.header h2 {
  font-size: 25px;
  padding: 1px;
}

/* Modal CSS */
.custom-modal {
  border: 1px solid #f37B7B;
  border-radius: 5px;
  padding: 10px;
  width: 150px;

  position: fixed;
  top: 75px;
  background-color: white;
}

.modal-button {
  position: fixed;
  top: 75px;
  left: 0px;
  height: 30px;
  width: 40px;
  border: 1px solid #f37B7B;
  border-radius:20%;
  background-color: white;
}

.modal-body h3 {
  font-size: 25px;
}

.modal-button:hover {
  cursor: pointer;
}

.modal-button:hover span {
  color:#f37B7B;
  font-weight: bolder;
}


.close-modal {
  border: none;
  background-color: white;
}

.close-modal:hover {
 cursor:pointer;
}

.close-modal:hover span {
  color:#f37B7B;
  font-weight: bolder;
}

